@font-face {
    font-family: 'futura-book';
    src: url('fonts/futura-book.eot');
    src: local('_'), url('fonts/futura-book.woff') format('woff'),
    url('fonts/futura-book.ttf') format('truetype'),
    url('fonts/futura-book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-heavy';
    src: url('fonts/futura-heavy.eot');
    src: local('_'), url('fonts/futura-heavy.woff') format('woff'),
    url('fonts/futura-heavy.ttf') format('truetype'),
    url('fonts/futura-heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-regular';
    src: url('fonts/futura-regular.eot');
    src: local('_'), url('fonts/futura-regular.woff') format('woff'),
    url('fonts/futura-regular.ttf') format('truetype'),
    url('fonts/futura-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F0F8FF;
}

* {
    font-family: 'futura-book', sans-serif;
}

b {
    font-family: 'futura-heavy', sans-serif;
}

#logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

#logo_img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

#container {
}

.slides {
    background-color:transparent;
    position: fixed;
    width: 1050px;
    height: 720px;
    max-width: 1050px;
    max-height: 720px;
    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    top: 0;
    left: 0;
    right: 0;
}

#annotation {
    font-weight: bold;
    font-size: 24pt;
    padding: 10px;
    max-width: 450px;
}

.icons {
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    display: inline-block;
    margin: 5px;
}

.hidden {
    display: none;
}

#comment b {
    font-size: 24pt;
    font-weight: bold;
}

#comment {
    position: fixed;
    top: 185px;
    right: 20px;
    max-width: 500px;
    font-size: 22pt;
}