<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabot Circus's Green Credentials</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="content.js"></script>
</head>
<body>
<div id="logo"><img src="logos/cabotcircus.png" alt="Cabot Circus logo" /></div>
<div id="container">
    <div class="slides" id="waste"></div>
    <div class="slides" id="water"></div>
    <div class="slides" id="electricity"></div>
    <div class="slides" id="gas"></div>
</div>
<div id="annotation"></div>

<div class="hidden">
    <!-- Replace with Thymeleaf -->
    <span id="waste_total_January_2018" th:text="${wasteTotal}"></span>
    <span id="waste_recycled_January_2018" th:text="${wasteRecycled}"></span>

    <span id="water_consumed_January_2018" th:text="${waterConsumedCurr}"></span>
    <span id="water_consumed_January_2017" th:text="${waterConsumedPrev1}"></span>
    <span id="water_consumed_January_2016" th:text="${waterConsumedPrev2}"></span>

    <span id="electricity_consumed_January_2018" th:text="${electricityConsumedCurr}"></span>
    <span id="electricity_consumed_January_2017" th:text="${electricityConsumedPrev1}"></span>
    <span id="electricity_consumed_January_2016" th:text="${electricityConsumedPrev2}">394931</span>

    <span id="gas_consumed_January_2018" th:text="${gasConsumedCurr}"></span>
    <span id="gas_consumed_January_2017" th:text="${gasConsumedPrev1}"></span>
    <span id="gas_consumed_January_2016" th:text="${gasConsumedPrev2}"></span>
</div>

</body>
</html>
