<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabot Circus's Green Credentials</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="content.js"></script>
</head>
<body>
<div id="logo"><img src="logos/cabotcircus.png" alt="Cabot Circus logo" /></div>
<div id="container">
    <div class="slides" id="waste"></div>
    <div class="slides" id="water"></div>
    <div class="slides" id="electricity"></div>
    <div class="slides" id="gas"></div>
</div>
<div id="annotation"></div>

<div class="hidden">
    <!-- Replace with Thymeleaf -->
    <span id="waste_total_January_2018" th:text="${wasteTotal}"></span>
    <span id="waste_recycled_January_2018" th:text="${wasteRecycled}"></span>

    <span id="water_consumed_January_2018" th:text="${waterConsumed}"></span>
    <span id="water_consumed_January_2017">6150</span>
    <span id="water_consumed_January_2016">5476</span>

    <span id="electricity_consumed_January_2018" th:text="${electricityConsumed}"></span>
    <span id="electricity_consumed_January_2017">381400</span>
    <span id="electricity_consumed_January_2016">394931</span>

    <span id="gas_consumed_January_2018" th:text="${gasConsumed}"></span>
    <span id="gas_consumed_January_2017">40365</span>
    <span id="gas_consumed_January_2016">24130</span>
</div>

</body>
</html>
