<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabot Circus's Green Credentials</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="content.js"></script>
</head>
<body>
<div id="logo"><img src="logos/cabot-circus-black.png" alt="Cabot Circus logo" id="logo_img" /></div>
<div id="annotation"></div>
<div id="container">
    <div class="slides" id="waste"></div>
    <div class="slides" id="water"></div>
    <div class="slides" id="electricity"></div>
    <div class="slides" id="gas"></div>
</div>

<div class="hidden">
    <!-- These hidden fields will be populated with Thymeleaf, and used by the JavaScript -->
    <span id="monthName" th:text="${monthName}"></span>

    <span id="currentYear" th:text="${currentYear}"></span>
    <span id="lastYear" th:text="${lastYear}"></span>
    <span id="twoYearsAgo" th:text="${twoYearsAgo}"></span>

    <span th:id="'wasteTotal' + ${monthName} + ${currentYear}" th:text="${wasteTotal}"></span>
    <span th:id="'wasteRecycled' + ${monthName} + ${currentYear}" th:text="${wasteRecycled}"></span>

    <span th:id="'waterConsumed' + ${monthName} + ${currentYear}" th:text="${waterConsumedCurrentYear}"></span>
    <span th:id="'waterConsumed' + ${monthName} + ${lastYear}" th:text="${waterConsumedLastYear}"></span>
    <span th:id="'waterConsumed' + ${monthName} + ${twoYearsAgo}" th:text="${waterConsumedTwoYearsAgo}"></span>

    <span th:id="'electricityConsumed' + ${monthName} + ${currentYear}" th:text="${electricityConsumedCurrentYear}"></span>
    <span th:id="'electricityConsumed' + ${monthName} + ${lastYear}" th:text="${electricityConsumedLastYear}"></span>
    <span th:id="'electricityConsumed' + ${monthName} + ${twoYearsAgo}" th:text="${electricityConsumedTwoYearsAgo}"></span>

    <span th:id="'gasConsumed' + ${monthName} + ${currentYear}" th:text="${gasConsumedCurrentYear}"></span>
    <span th:id="'gasConsumed' + ${monthName} + ${lastYear}" th:text="${gasConsumedLastYear}"></span>
    <span th:id="'gasConsumed' + ${monthName} + ${twoYearsAgo}" th:text="${gasConsumedTwoYearsAgo}"></span>
</div>

</body>
</html>
